<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Correo electronico del cliente:</strong>
    <%= order.customer_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cumplido:</strong>
    <%= order.fulfilled %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total:</strong>
    <%= order.total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Direccion de envio:</strong>
    <%= order.address %>
  </p>

  <% if order.order_products.any? %>
    <strong class="block  mb-1">Productos:</strong>
    <ul>
      <% order.order_products.each do |op| %>
        <li>
          <strong class="block font-medium mb-1">Item: <%= op.product.name %></strong>
          <strong class="block font-medium mb-1"> Talla: <%= op.size %> </strong>
          <strong class="block font-medium mb-1"> Cantidad: <%= op.quantity %> </strong>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this order", [:admin, order], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this order", edit_admin_order_path(order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
